form(method="POST", action="/dbcreate")
 input(type="hidden", name="_method", value="PUT")
 p NAME
  input(type="text", name="name")
 p AGE
  input(type="number", name="age")
 p
  input(type="submit")
